<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetStoreSuite">
<listeners>
<listener class-name="api.utilities.ExtentReportManager"></listener>
</listeners>
  <test thread-count="5" name="UserTest">
    <classes>
       <class name="api.test.petTests"/>
       <class name="api.test.userTests"/>    
  <!-- <class name="api.test.userTests2"/>    -->
  <!-- <class name="api.test.DDuserTests"/> -->
       
    </classes>
  </test> <!-- UserTest -->
</suite> <!-- PetStoreSuite -->